.add-items-form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  margin: auto;
  row-gap: 20px;
  align-items: center;
  @media (max-width: 768px) {
    margin-top: 70px;
  }
  &__select-col,
  &__input-col,
  &__textarea-col {
    display: flex;
    flex-direction: column;
    width: 100%;

    option[disabled] {
      color: #6c757d;
      font-style: italic;
    }
  }
  &__select-col-option {
    color: red !important;
    color: #5a5b5c !important;
    opacity: 0.5 !important;
  }
  &__input {
    &::placeholder {
      color: #5a5b5c !important;
      opacity: 0.5 !important;
    }
  }
  &__error-message-container {
    height: 30px;
    margin-top: 20px;
  }
  &__error-message {
    color: #e55353;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5;
  }
  &__header {
    margin-bottom: 50px;
    font-size: 25px;
  }
  &__buttons-container {
    justify-content: space-around;
    display: flex;
    gap: 40px;
  }
  &__button {
    max-width: 105px;
    width: 100%;
  }
}
