.grid {
  display: grid;
  grid-template-columns: repeat(3, 265px);
  height: fit-content;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-content: center;
  margin: auto;
  margin-top: 1.4mm;
  &__item-container {
    margin: 0 0 2.5mm;
  }
  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 120px;
    margin: 40px auto 50px;
  }
  &__button {
    width: 120px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-self: self-start;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
