.item {
  height: 42.42857142857143mm;
  line-height: normal;
  text-align: left;
  &__content {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  };
  &__inner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    height: fit-content;
  };
  &__title {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-self: start;
    margin-bottom: 2px;
    overflow-wrap: anywhere;
    &_large {
      letter-spacing: -0.5px;
      line-height: 1.28;
      font-size: 18px
    }
  };
  &__color {
    grid-area: color;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-self: start;
    margin-bottom: 0;
    &_large {
      align-self: flex-start;
      padding-bottom: 5.5px;
      font-size: 15.5px;
    }
  };
  &__size {
    font-weight: 800;
    font-size: 40px;
    display: flex;
    align-self: start;
    margin-bottom: 0;
    height: auto;
    &_large {
      align-self: end;
    }
  };
  &__number {
    margin-bottom: 0;
    padding-left: 1px;
  };
  &__date {
    margin-bottom: 0;
  }
  &__color-size-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
