.App {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  height: 100%;
}

@media print {
  .app-print{
    
  }
}

.spinner{
  margin: auto;
  width: 100px;
  height: 100px;
}